@charset "UTF-8";

/* Configurações
Cores:
-Roxo:#64406C
-Verde:#007C4A

Fontes:
-Ubunto:8 styles,Light 300,Regular 400,Medium 500,Bold 700,Light 300,Italic,Regular 400 Italic Medium 500 Italic Bold 700 Italic
*/


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');




*{ margin:0px; padding: 0px;}

/*Header, navegador e configurações gerais para todas páginas*/

header {width: 100%;text-align: center;}
div#banner {
    background: url('imagens/header-g.jpg');
    width: 100%;
    height: 180px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

#iconeburger{
    display: block;
    color:white;
    text-align: left;
    padding: 5px 0px 5px 15px;
    background-color: #64406C;
    box-shadow: -2px 4px 5px -2px #64406ca2;
}

#iconeburger:hover{
    color: yellow;
    cursor: pointer;
}

nav#hamburguer {
    display: none;
    width: 140px;
    text-align: left;
    padding: 10px;
    background-color: #64406C;
    box-shadow: 4px 4px 5px -2px #64406ca2 ;
}

nav#hamburguer > a {
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    color: white;
    padding:11px;
    text-decoration: none;
}

nav#hamburguer > a:hover{
    color: yellow;
}

nav#menugrande{
    display: none;
    background: #64406C;
    padding: 12px;
    box-shadow: 4px 4px 5px -2px #64406ca2 ;
}
nav#menugrande>a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.1em;
}

nav#menugrande>a:hover{
    color: yellow;
}

html, main{
    background-color: #f8f8f8;
}

main { min-width: 350px; max-width: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
}

h1, h2, h3 {
    font-family: "Ubuntu";
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
p {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1em;
    
    text-align: left;
    line-height: 1.6em;
} 

.botaocomprar{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    background: linear-gradient(to bottom, #007C4A, #01bd72);
    padding: 8px;
    border: 3px solid #007C4A;
    border-radius: 15px;
    box-shadow: 1px 2px 4px #0024157a;
}

.botaocomprar:hover{
    color: yellow;
}

.conteinervideo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ifvideo{
text-align: center;
padding-bottom: 10px;
}

footer { background-color:#64406C;}
footer > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;}
footer > div{
    text-align: center;
}
footer > div.redes > a > img{
    height: 30px;
}

footer > p >a#privacidade{
    font-size: 10px;
    color: white;
}



/* Página Inicio*/

main > article#livro > div#capa{
        text-align: center;
}
    
main > article#livro > div#capa > img{
        /*height: 300px; */
        width: 40%;
}

main >article#livro > h1{
    font-size: 1.4em;
}

article#depoimentosfundo{
    width: 100%;
    background: #007C4A;
    box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.459) ;
}
article>div#depoimentos{
    min-width: 350px; max-width: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
}

article > div#depoimentos > h1{
        padding: 15px;
}
    
article > div#depoimentos > p{
        font-size: 1em;
        padding-bottom: 20px;
}

/* Página da autora*/

img#fotoautora{
    width: 70%;
    padding-bottom: 15px;
}
div#fotokeeyth{
    text-align: center;
}

/* Página do ebook*/
div#ebook {
    text-align: center;
}

div#ebook > img{
    width: 60%;
    padding-bottom: 15px;
}

ul#creditos{
    list-style-position: inside;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.8em;
    margin-top: -10px;
    padding-left: 15px;
}

/* Página o musical*/
div#capamusical{
    text-align: center;
    padding-bottom: 15px;
}

div#capamusical >img{
    width: 70%;
}

/* Página Animações*/
#credanima{
    font-size: small;
}
#animacoes>article>section>p{
    text-align: center;
}

/* Página Certificado*/
#edital{
    padding-top: 20px;
    font-size: 15px;
    list-style-position: inside;
    font-family: Arial,sans-serif;
    line-height: 1.5em;
}
#edital > li > a{
    color: black;
}

/* Página oficinas*/
.conteineroficina{
    background-color: #64406c5e;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.342);
    border: 1px solid rgba(0, 0, 0, 0.425);
}
.conteineroficina > h2{
    background-color: #64406cb2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1.4em;
}

.conteineroficina > h2, h3, p{
    text-align: left;
    padding: 10px 15px 10px 15px;
}

#oficinaslist{
    list-style-position: inside;
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    padding-left: 15px;
}

/* Página jogos*/

.conteinerjogos{
    max-width: 500px;
    margin: auto;
    background-color: #64406c5e;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.342);
}
.conteinerjogos > h2{
    background-color: #64406cb2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1.4em;
}

.conteinerjogos > h2,
.conteinerjogos h3,
.conteinerjogos p {
    text-align: left;
    padding: 10px 15px;
}

.interiorjogo{
    display: flex;
}

.interiorjogo > div{
    border-bottom: 1px solid black;
    width: 40%;
}

.interiorjogo>p{
    width: 30%;
}

.interiorjogo > div > img{
    flex-grow: 1;
    width: 100%;
    border: px solid black;
}
.interiorjogo > p {
    flex-grow: 1;
    border-bottom: 1px solid;
}

.botao-jogo{
    display: flex;
    justify-content: center;
}

.botaojogar{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    background: linear-gradient(to bottom, #007C4A, #01bd72);
    padding: 8px;
    border: 3px solid #007C4A;
    border-radius: 15px;
    box-shadow: 1px 2px 4px #0024157a;
}

.botaojogar a{
    text-decoration: none;
    color: white;
}

.botaojogar a:hover{
    color: yellow;
}

.botaojogarpdf{
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    background: linear-gradient(to bottom, #007C4A, #01bd72);
    padding: 8px;
    border: 3px solid #007C4A;
    border-radius: 15px;
    box-shadow: 1px 2px 4px #0024157a;
}
.botaojogarpdf a{
    text-decoration: none;
    color: white;
}

.botaojogarpdf a:hover{
    color: yellow;
}

/* Página Dados*/
.conteinerdados{
    display: flex;
    flex-direction: column;
}

/* Página contato*/
#contato{
    margin: 0 auto;
    background-color:#007c4ae3 ;
    border-radius: 20px;
    max-width: 400px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.582);
}

#contato > p, h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Página artigos*/
#artigos>p>a{
    color:#007C4A;
}

/*Carrousel*/
#titulocarousel{
    padding-top: 50px;
    margin-bottom: -20px;
    font-family:;
}

.title-with-lines {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 2rem;
  position: relative;
  gap: 1rem;
}

.title-with-lines::before,
.title-with-lines::after {
  content: "";
  flex: 1;
  height: 1px;
  background: linear-gradient(to right, transparent, rgb(7, 7, 7), transparent);
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  margin: 10px auto;
  margin-bottom: 50px;
  background:#f8f8f8;
  padding: 20px 40px;
  border-radius: 10px;
  box-sizing: border-box;

  /* adicionando para o fade */
  mask-image: none;
}

.carousel-container::before,
.carousel-container::after {
  content: "";
  position: absolute;
  top: 0;
  width: 120px;  /* aumenta a largura do fade para 120px */
  height: 100%;
  pointer-events: none;
  z-index: 3;
}

.carousel-container::before {
  left: 0;
  background: linear-gradient(to right, #f8f8f8 0%, rgba(247,246,246,0.98) 50%, rgba(255,255,255,0) 100%);
}

.carousel-container::after {
  right: 0;
  background: linear-gradient(to left, #f8f8f8 0%, rgba(247, 246, 246, 0.98) 50%, rgba(255,255,255,0) 100%);
}


.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  gap: 20px;
  padding: 10px;
  flex: 1; /* ocupa toda a largura disponível */
  padding: 20px 0px;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  flex-shrink: 0;
  scroll-snap-align: center;
  background-color: #64406ca8;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s;
}
.carousel-item a {
    text-decoration: none;
}

.carousel-item p {
  margin-left: -15px;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  width: 100%;
  text-align: center; /* <-- Garante centralização do texto */
}

.carousel-item:hover {
  transform: scale(1.1);
  z-index: 1;
}

/* Telas pequenas: 1 item por vez */
@media (max-width: 600px) {
  .carousel-item {
    width: 40%;
  }
  .carousel-container::before,
.carousel-container::after {
  display: none;
}
}

/* Telas médias: 2 itens */
@media (min-width: 601px) and (max-width: 1024px) {
  .carousel-item {
    width: 25%;
  }
}

/* Telas grandes: 3 itens */
@media (min-width: 1025px) {
  .carousel-item {
    width: 15%;
  }
}


.carousel-item img {
  width: 100%;
  border-radius: 8px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 6;
  transition: background 0.3s;
  color: #000;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}
