@charset "UTF-8";

/* Configurações
Cores:
-Roxo:#64406C
-Verde:#007C4A

Fontes:
-Ubunto:8 styles,Light 300,Regular 400,Medium 500,Bold 700,Light 300,Italic,Regular 400 Italic Medium 500 Italic Bold 700 Italic
*/


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{ margin:0px; padding: 0px;}

/*Header, navegador e configurações gerais para todas páginas*/

header {width: 100%;text-align: center;}
div#banner {
    background: url('imagens/header-g.jpg');
    width: 100%;
    height: 180px;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

#iconeburger{
    display: block;
    color:white;
    text-align: left;
    padding: 5px 0px 5px 15px;
    background-color: #64406C;
    box-shadow: -2px 4px 5px -2px #64406ca2;
}

#iconeburger:hover{
    color: yellow;
    cursor: pointer;
}

nav#hamburguer {
    display: none;
    width: 140px;
    text-align: left;
    padding: 10px;
    background-color: #64406C;
    box-shadow: 4px 4px 5px -2px #64406ca2 ;
}

nav#hamburguer > a {
    display: block;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    color: white;
    padding:11px;
    text-decoration: none;
}

nav#hamburguer > a:hover{
    color: yellow;
}

nav#menugrande{
    display: none;
}

html, main{
    background-color: #f8f8f8;
}

main { min-width: 350px; max-width: 800px;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
}

h1, h2, h3 {
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
}
p {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 1em;
    
    text-align: left;
    line-height: 1.6em;
} 

.botaocomprar{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    background: linear-gradient(to bottom, #007C4A, #01bd72);
    padding: 8px;
    border: 3px solid #007C4A;
    border-radius: 15px;
    box-shadow: 1px 2px 4px #0024157a;
}

.botaocomprar:hover{
    color: yellow;
}

.conteinervideo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ifvideo{
text-align: center;
padding-bottom: 10px;
}

footer { background-color:#64406C;}
footer > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;}
footer > div{
    text-align: center;
}
footer > div.redes > a > img{
    height: 30px;
}

footer > p >a#privacidade{
    font-size: 10px;
    color: white;
}



/* Página Inicio*/

main > article#livro > div#capa{
        text-align: center;
}
    
main > article#livro > div#capa > img{
        /*height: 300px; */
        width: 40%;
}

main >article#livro > h1{
    font-size: 1.4em;
}
    
main> article#depoimentos > h3{
        padding: 15px;
        padding-top: 40px;
}
    
main > article#depoimentos > p{
        font-size: 0.8em;
}

/* Página da autora*/

img#fotoautora{
    width: 70%;
    padding-bottom: 15px;
}
div#fotokeeyth{
    text-align: center;
}

/* Página do ebook*/
div#ebook {
    text-align: center;
}

div#ebook > img{
    width: 60%;
    padding-bottom: 15px;
}

ul#creditos{
    list-style-position: inside;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.8em;
    margin-top: -10px;
    padding-left: 15px;
}

/* Página o musical*/
div#capamusical{
    text-align: center;
    padding-bottom: 15px;
}

div#capamusical >img{
    width: 70%;
}

/* Página Animações*/
#credanima{
    font-size: small;
}
#animacoes>article>section>p{
    text-align: center;
}

/* Página Certificado*/
#edital{
    padding-top: 20px;
    font-size: 15px;
    list-style-position: inside;
    font-family: Arial,sans-serif;
    line-height: 1.5em;
}
#edital > li > a{
    color: black;
}

/* Página oficinas*/
.conteineroficina{
    background-color: #64406c5e;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.342);
    border: 1px solid rgba(0, 0, 0, 0.425);
}
.conteineroficina > h2{
    background-color: #64406cb2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1.4em;
}

.conteineroficina > h2, h3, p{
    text-align: left;
    padding: 10px 15px 10px 15px;
}

#oficinaslist{
    list-style-position: inside;
    font-family: "Ubuntu", sans-serif;
    font-size: 1em;
    padding-left: 15px;
}

/* Página jogos*/

.conteinerjogos{
    background-color: #64406c5e;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.342);
    border: 1px solid rgba(0, 0, 0, 0.425);
}
.conteinerjogos > h2{
    background-color: #64406cb2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-size: 1.4em;
}
.conteinerjogos h2{
}

.conteinerjogos > h2, h3, p{
    text-align: left;
    padding: 10px 15px 10px 15px;
}

.interiorjogo{
    display: flex;
}

.interiorjogo > div{
    border: 1px solid black;
    width: 40%;
}

.interiorjogo>p{
    width: 30%;
}

.interiorjogo > div > img{
    flex-grow: 1;
    width: 100%;
    border: 1px solid black;
}
.interiorjogo > p {
    flex-grow: 1;
    border: 1px solid;
}

.botao-jogo{
    display: flex;
    justify-content: center;
}

.botaojogar{
    width: 150px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    background: linear-gradient(to bottom, #007C4A, #01bd72);
    padding: 8px;
    border: 3px solid #007C4A;
    border-radius: 15px;
    box-shadow: 1px 2px 4px #0024157a;
}

.botaojogarpdf{
    width: 150px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    background: linear-gradient(to bottom, #007C4A, #01bd72);
    padding: 8px;
    border: 3px solid #007C4A;
    border-radius: 15px;
    box-shadow: 1px 2px 4px #0024157a;
}

/* Página Dados*/
.conteinerdados{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

/* Página contato*/
#contato{
    margin: 0 auto;
    background-color:#007c4ae3 ;
    border-radius: 20px;
    max-width: 400px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.582);
}

#contato > p, h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Página artigos*/
#artigos>p>a{
    color:#007C4A;
}