@charset "UTF-8";

*{ margin:0px; padding: 0px;}

header {width: 100%;text-align: center;}
div#banner {
    background: url('imagens/header-g.jpg');
    width: 100%;
    height: 160px;
    /*aspect-ratio: 19 / 4; */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}
header nav {text-align: right;margin-top: 10px;}
nav a {color: black; padding:10px;text-decoration: none;}

main { min-width: 350px; max-width: 1000px;
    margin: auto;
}

p {
    text-align: justify;
    text-indent: 20px;
} 

footer { background-color:#5B426A; padding: 15px;}
footer > p {text-align: center;}
